@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --AlmostWhite: hsl(0, 0%, 98%);
  --MediumGray: hsl(0, 0%, 41%);
  --AlmostBlack: hsl(0, 0%, 8%);
}
body {
  background: var(--AlmostWhite);
  margin: 0;
  padding: 10px;
  font-family: "Epilogue", sans-serif;
}
body > p {
  font-size: 18px;
}
